@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins','Courier New', Courier, monospace;
    margin: 0px;
}
[data-function = "header"]{
    padding: 0 25px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray; 
}
.first-header{
    justify-content: flex-end;  
}
.second-header{
    padding: 10px 25px;
    justify-content: space-between;
    border: none;
}
form{
      display: flex;
      align-content: center;      
}
.first-header:nth-child(1) div {
    margin-right: auto ;
}
nav{
    width: 600px;
}
nav li{
    display: inline;
    margin: 7px;
}
nav li a{
    color: black;
    text-decoration: none;
}
.blackHeart{
    width: 20px;
}  
.npmLogo{
    width: 45px;
}
.magnifyingGlass{
    padding: 0.3rem;
    position: absolute;
    width: 20px;
}
#searchButton{
    position: absolute;
    border: none;
    background-color: #fb3e44;
    color: white;
    /* padding: 1px; */
    height: 30px;
    width: 60px;
    left: 71em;
}
#npm-search{
    position: absolute;
    left: 8%;
}
.searchInput{
    background-color: rgba(0, 0, 0, .05);
    border: none;
    height: 30px;
    width: 71em;
    margin: 0px;
}
.links a{
    position: relative;
    width: 50%;
    padding: 5px;
    text-decoration: none;
    color: black;    
    margin: 5px;
    right: 20px;
}
.links a:nth-child(1){
    border: 1px solid lightgray;
    width: 50px;
}
/* main section */
.main-section{
    height: 600px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: rgba(232,217,217,.3);
    text-align: center;
}

.main-section h1 {
    position: relative;
    font-weight: bolder;
    text-align: center;
    padding: 3px 0px;
    font-size: 56pt;
    bottom: 15%;
}
.main-section article{
    padding: 10px;
    position: relative;
    width: 40%;
    align-self: center;
    font-size: 16pt;
    bottom: 25%;  
}

.main-section div{
    position: relative;
    bottom: 12%;
    width:40%; 
    align-self: center;
    display: flex;
}

.main-section div a{
    text-decoration: none;
    padding: 10px ;
    text-align: center;
    width: 50%;
    height: 30px;
    font-weight: bold;
    color: black;
}
.main-section div a:first-child{
    font-weight: normal;
    color: white;
    background-color: #fb3e49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}




